<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HastaneEntities" connectionString="metadata=res://*/DataModel.Hastane.csdl|res://*/DataModel.Hastane.ssdl|res://*/DataModel.Hastane.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KUBRA-PC;initial catalog=Hastane;persist security info=True;user id=sa;password=123416;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />

    <add name="Hastane.DAL.Properties.Settings.Ayar" connectionString="Data Source=DESKTOP-6OBI17H\MSSQL2016;Initial Catalog=Hastane;Persist Security Info=True;User ID=sa;Password=123416"

      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>