<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HastaneEntities" connectionString="metadata=res://*/DataModel.Hastane.csdl|res://*/DataModel.Hastane.ssdl|res://*/DataModel.Hastane.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6OBI17H\MSSQL2016;initial catalog=Hastane;persist security info=True;user id=sa;password=123416;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>